/jfjavafx/nbproject/private/
/jfjavafx/build/
/jfjavafx/dist/
/jferp/nbproject/private/
/jfjavafx.core_extensions/nbproject/private/
/jfjavafx.plugins.menu/nbproject/private/
/jfjavafx.plugins.pluginmanager/nbproject/private/
/jfjavafx.plugins.pluginmanager/build/
/jfjavafx.plugins.templatemanager/nbproject/private/
/jfjavafx.plugins.pluginrepository/nbproject/private/
/jfjavafx.plugins.templaterepository/nbproject/private/
/jfjavafx.plugins.repository/nbproject/private/
/jfjavafx.plugins.repository/build/
/jfjavafx.plugins.templaterepository/build/
/jfjavafx.plugins.resource/nbproject/private/
/jfjavafx.plugins.resource/build/
/jfjavafx.plugins.menu/build/
/jfjavafx.plugins.genreport/nbproject/private/
/jfjavafx.plugins.genreport/build/
/jfjavafx.plugins.auth/nbproject/private/